 nav { 
    color: white;
    background-color: #111329;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    z-index: 1;
    }

nav h1{
    font-size: 30px;
    align-items: center;
    display: flex;
}
 nav ul {
    display: flex;
 }

 nav ul li {
    list-style: none;
 }

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
}

nav .logo {
    color: white;
    display: flex;
    height: 70px;
}

nav ul li a:hover {
    background-color:#172554 ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 30px;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
}

nav .menu i {
    font-size: 44px;
}


@media (max-width: 1024px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }

    nav ul.open {
        display: flex;
    }

}

.bg-cirkel { 
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background: #3877FF;
    position: absolute;
    left: -150px;
    bottom: -150px;
    z-index: 0;
    display: block;
    transition: transform .5s;
  }
  
  .bg-vector {
    position: absolute;
    right: 0;
    top: -1px;
    z-index: 0;
    transition: transform .5s;
  }
  
  @media only screen and (max-width: 1024px) {
   .bg-vector{
    /* display: none; */
    transform: translateX(250px);
   } 
   .bg-cirkel {
    /* display: none; */
    transform: translateX(-250px);
   }
  }