li {
    list-style: none;
}

li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
}

li a.active,
li a:hover {
    color: gray;
    background-color: #172554;
}