.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-cirkel {
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background: #3877ff;
    position: absolute;
    left: -150px;
    bottom: -150px;
    z-index: 0;
    display: block;
    transition: transform 0.5s;
  }
  
  .bg-vector {
    position: absolute;
    right: 0;
    top: -1px;
    z-index: 0;
    transition: transform 0.5s;
  }
  
  @media only screen and (max-width: 1024px) {
    .bg-vector {
      /* display: none; */
      transform: translateX(250px);
    }
    .bg-cirkel {
      /* display: none; */
      transform: translateX(-250px);
    }
  }
  
  .wrapper {
    width: 420px;
    padding: 30px 40px;
    color: #fff;
    background-color: transparent;
    border-radius: 20px;
  }
  
  .wrapper .logo {
    display: flex;
  }
  
  .wrapper img {
    width: 70px;
    align-items: center;
  }
  
  .wrapper h1 {
    font-size: 34px;
    top: 50%;
    transform: translateY(20%);
  }
  
  .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 20px 20px 50px;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  
  .btn--register{
    background-color: #1ca883;
    color: #fff;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }

  .wrapper p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .wrapper .forgot-password {
    position: relative;
    font-size: 14.5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .wrapper .forgot-password a {
    color: #fff;
    text-decoration: none;
  }